{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  <h4>Дерево категорий в фиде партнёра:</h4>
  <pre class="categories"></pre>


  <style>
      .category {
          cursor: pointer;
          font-size: 16px;
      }

      .category:hover {
          background-color: #cecece;
      }
  </style>
  
  {{ original.get_annotated_category_tree|json_script:"category-tree" }}
  
  <script>
      /* ругается на TypeError: django.jQuery(...).tooltip is not a functionchange:743:56
      
      django.jQuery(document).ready(function () {
          django.jQuery(function () {
              django.jQuery('[data-toggle="tooltip"]').tooltip()
          })
      });
      */

      let categories = JSON.parse(document.getElementById('category-tree').textContent);
      categories.forEach(function (element) {
          let value = element[0];
          let amount = element[1];
          let our_category = '';
          if (element[2])
              our_category = '<font color=red>--&gt;</font> ' + element[2];
        
          django.jQuery('.categories').append(
              `<span class='category tooltiptext tooltip' data-toggle="tooltip" data-placement="right" title="Нажмите чтобы скопировать" onclick="copyToClipboard('${value}')">${value} ${amount} ${our_category}</span><br>`
          )
      })

      function copyToClipboard(text) {
          if (window.clipboardData && window.clipboardData.setData) {
              return clipboardData.setData("Text", text);

          } else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
              let textarea = document.createElement("textarea");
              textarea.textContent = text;
              textarea.style.position = "fixed";
              document.body.appendChild(textarea);
              textarea.select();
              try {
                  return document.execCommand("copy");
              } catch (ex) {
                  console.warn("Copy to clipboard failed.", ex);
                  return false;
              } finally {
                  document.body.removeChild(textarea);
              }
          }
      }
  </script>
{% endblock %}
