* {
    outline: none!important;
}

body {
    min-height: 100%;
    position: relative;
    font-family: proxima_nova_rgregular;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
    background-color: #f8f8f8;
}
.btn-halva {
    color: #fff;
    background: #ff4e50;
    border-radius: 10px;
    font-weight: 100;
}
.sorting select {
  font-family: 'FontAwesome', Roboto!important;
}
.order-type a {
    color: #4ea7ff!important;
    font-weight: 400!important;
}
.order-type a:hover {
    color: #4ea7ff!important;
    border-bottom: 1px dashed #4ea7ff!important;
}

.navbar-goods {
    background-color: #fff;
    border-bottom: 1px solid #f4dfcc;
}
.search_box {
    height: 49px;
    border-radius: 100px;
    border: 2px solid #f4dfcc;
    width: 100%;
    background-image: url(/static/img/svg/search_red.svg);
    background-repeat: no-repeat;
    background-position: 12px 9px;
    padding-left: 50px;
    position: relative;
}
.search_box input {
    background: transparent;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    color: #6e3d3d;
    width: 100%;
    height: 44px;
}
/*.search_box input:focus {*/
/*    outline: none!important;*/
/*    border-top: none!important;*/
/*    border-right: none!important;*/
/*    border-bottom: 2px solid #80bdff;*/
/*    border-left: none!important;*/
/*    border-bottom-left-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*    box-shadow: none!important;*/
/*}*/
.search_box label {
    font-size: 15px;
    color: #495057;
}
.search_box .cancel {
    position: absolute;
    right: 16px;
    top: 14px;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(/static/img/svg/seacrh_cancel.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

h1.category-title {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #6e3d3d;
    margin-top: 0;
    margin-bottom: 25px;
}
h1.category-title::first-letter {
    text-transform: capitalize;
}

.category-description {
    display: inline-flex;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: #4a4a4a;
}
.halva-colored-icon {
    font-size: 24px;
    color: rgb(255, 78, 80);
}
.icon-wrap {
    color: rgb(214, 88, 77);
    font-size: 25px;
    display: inline-block;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    /*box-shadow: 0px 0px 2px #888;*/
    padding: 0.65em 0.5em;
    background-color: #f4dfcc;
}

.icon-wrap:hover {
    color: white;
    background-color: rgb(255, 78, 80);
}

.preview {
    height: auto; 
    width: auto; 
    max-width: 100px;
    max-height: 100px;
}

/* https://webformyself.com/kolonki-s-avtomaticheskim-podborom-razmerov-v-css-grid-auto-fill-ili-auto-fit/ */
/*.grid-container {
    display: grid;
}*/

/*
.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
*/

/*.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}*/

.img-box {
    margin-bottom: 14px;
    height: 120px;
    display: flex;
    align-items: center;
}

.img-box img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

a.goods-item {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 24px 24px 16px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    /*transition: transform .2s ease;*/
    height: 310px;
    transform: scale(1);
    transition: 0.25s all ease;
}
a.goods-item:hover {
    transform: scale(1.1);
}
a {
    text-decoration: none!important;
    transition: opacity .3s ease;
}
.description-box {
    color: #714141;
}
.description-box .goods-title {
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    margin-bottom: 12px;
}
.description-box .goods-detail-price {
    color: rgba(113,65,65,.7);
}
.description-box .goods-detail-price,
.description-box .goods-price {
    font-size: 12px;
    line-height: 24px;
}
.ruble {
    font-family: Roboto,sans-serif;
    font-size: inherit!important;
}

.shops_categories {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    overflow: hidden;
    z-index: 10;
    transition: height .2s linear;
}

.shops_categories .bg.no-trans {
    background: #fdf5e8!important;
    filter: none;
    -webkit-filter: none;
}
.shops_categories .bg {
    position: absolute;
    top: 0;
    -webkit-filter: blur(34px);
    filter: blur(34px);
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.shops_categories .content {
    position: relative;
    top: 0;
    height: 100%;
}
.shops_categories .slider {
    overflow: hidden;
    position: relative;
    height: 100px;
}

.shops_categories .slick-next, .shops_categories .slick-prev {
    background-color: transparent;
    color: transparent;
    border: none;
    text-shadow: none;
    position: absolute;
    height: 100%;
    z-index: 1000;
}
.shops_categories .slick-prev {
    background-image: linear-gradient(-90deg,rgba(253,245,232,0),#fdf5e8);
    left: 0;
}
.shops_categories .slick-prev:before {
    content: " ";
    background: url(/static/img/svg/arrow_left.svg) no-repeat transparent 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.shops_categories .slick-next {
    background-image: linear-gradient(90deg,rgba(253,245,232,0),#fdf5e8);
    right: 0;
}
.shops_categories .slick-next:before {
    content: " ";
    background: url(/static/img/svg/arrow_right.svg) no-repeat transparent 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.shops_categories .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shops_categories .item {
    width: 100%;
    display: inline-block;
    transition: margin-top .2s linear;
}
.shops_categories .item {
    display: block;
    float: left;
    cursor: pointer;
    text-align: center;
    width: 150px;
    /*margin-bottom: 30px;*/
}
.shops_categories .item.active .title,
.shops_categories .item:hover .title {
    color: #ff4e50;
}
.shops_categories .item.active .icon-wrap,
.shops_categories .item:hover .icon-wrap {
    color: white;
    background-color: rgb(255, 78, 80);

    transition: 0.25s all ease;
}
.shops_categories .item .title {
    display: block;
    font-size: 13px;
    line-height: 1.33;
    letter-spacing: .1px;
    text-align: center;
    color: #6e3d3d;
    font-family: Roboto,sans-serif;
}
.shops_categories .item .title::first-letter {
    text-transform: capitalize;
}

.filters-card {
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #fff;
    border: 1px solid #e8e8e8;
    position: absolute;
    z-index: 9;
    left: auto;
    right: 15px;
    top: 52px;
}
.card-header-title, .card-header-close {
    color: #4a4a4a;
}
.card-header-close, .show-filters {
    cursor: pointer;
}

.irs--big {
    height: 6px;
}
.irs--big .irs-line {
    top: 2px;
    height: 3px;
    background-color: white;
    background: linear-gradient(to bottom, #ddd -50%, white 150%);
    border: 1px solid #ccc;
    border-radius: 12px;
}
.irs--big .irs-bar {
    top: 2px;
    height: 3px;
    background-color: rgb(109, 212, 148);
    border: none;
    background: rgb(109, 212, 148);
    box-shadow: none;
}
.irs--big .irs-handle {
    top: -5px;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    background: linear-gradient(to bottom, white 0%, #ffffff 30%, white 100%);
}
.irs--big .irs-handle:hover {
    cursor: pointer;
    background-color: #ffffff;
    background: linear-gradient(to bottom, white 0%, #ffffff 30%, white 100%);
}
.filter-list-block ul.list-filter {
    margin: 0;
    padding: 0;
    list-style: none;
}
.filter-item {
    height: 35px;
}
.filter-item__name, .filter-select-section__name {
    font-size: 15px;
    color: #4a4a4a;
}
.filter-check {
    width: 19px;
    height: 19px;
}
.filter-check input {
    display: none;
}
.filter-check input:checked+label {
    border: none;
    background: url(/static/img/svg/filter-check.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}
.filter-check input+label {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 1px solid rgba(209,213,219,.5);
    cursor: pointer;
}

.hidden {
    display: none!important;
}
.justify-content-space-between {
    justify-content: space-between;
}

@navbar-default-border:none;