{% load static %}
{% load goods_extras %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#c57e5b">
  <meta name="verify-admitad" content="59577215be">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon-96x96.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e734e8613e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
  <title>Amazing prototype</title>
</head>

<body>
{% if subcategories %}
  <hr>
  {% for sc in subcategories %}
    <a href="?category_id={{ sc.id }}">{{ sc.text }}</a>&nbsp;&nbsp;
  {% endfor %}
{% endif %}

<nav class="navbar fixed-top navbar-goods py-0">
  <div class="container">
    <div class="row w-100">
      <div class="col-2">
        <a class="navbar-brand" href="/">
          <img height="48" src="{% static "/img/svg/logo-home-red.svg" %}" alt="" class="stay-home-logo --red">
        </a>
      </div>
      <div class="col-10 my-auto">
        <div class="search_box">
          <form action="." method="GET" autocomplete="off" class="form-inline" id="searchForm">
{#            <div class="form-row mx-0 px-0">#}
{#              {% for field in search_form.visible_fields %}#}
{#                <div class="form-group">#}
{#                  {% if field.label_tag != 'False' %}<label>{{ field.label_tag }}</label>{% endif %}#}
{#                  {{ field }}#}
{#                </div>#}
{#              {% endfor %}#}
{#            </div>#}
            {{ search_form }}
            <input type="submit" class="hidden">
            <a class="cancel hidden"></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="shops_categories">
  <div class="bg no-trans"></div>
  <div class="content container">
    <div class="slider">
      <div>
        <a href="{% url 'demo:demo-index' %}" class="item {% if category_slug is None %}active{% endif %}">
          <span class="icon-wrap mb-1">
            <i class="fas fa-shopping-cart"></i>
          </span>
          <span class="title">все товары</span>
        </a>
      </div>
      {% for tc in top_categories %}
        <div>
          <a href="{% url 'demo:browse-category' category_slug=tc.id %}" class="item{% if category_slug == tc.id %} active{% endif %}">
            <span class="icon-wrap mb-1">
              <i class="fas
                {% if tc.id == "telefony" %}fa-mobile-alt
                {% elif tc.id == "televizory" %}fa-tv
                {% elif tc.id == "pylesosy" %}fa-broom
                {% elif tc.id == "holodil_niki" %}fa-microchip
                {% elif tc.id == "utugi" %}fa-pizza-slice
                {% elif tc.id == "stiral_nye_masiny" %}fa-bus
                {% elif tc.id == "kondizionery" %}fa-fan
                {% elif tc.id == "mebel_" %}fa-couch
                {% endif %}
              "></i>
            </span>
            <span class="title">{{ tc.text }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container" style="padding-top: 185px;">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="category-title">{{ category_title }}</h1>
      <div class="category-description d-flex justify-content-end align-items-center">
        <span class="halva-colored-icon mr-3">
          <i class="fas fa-sliders-h"></i>
        </span>
        <span class="show-filters">Показать фильтры</span>
        <div class="card filters-card hidden">
          <div class="card-header bg-white d-flex align-items-center">
            <div class="card-header-icon">
              <span class="halva-colored-icon mr-3">
                <i class="fas fa-sliders-h"></i>
              </span>
            </div>
            <div class="card-header-title">Фильтры</div>
            <div class="card-header-close ml-auto"><i class="fas fa-times"></i></div>
          </div>
          <div class="card-body text-center">
            <div class="filter-period-slider mb-2">
              <div class="text-left mb-1">Рассрочка
                <div class="period-result text-muted float-right">
                  <small>От <span class="from-result">
                    {% if request.GET.months_min is None or request.GET.months_min == "" %}{{ months_min }}{% else %}{{ request.GET.months_min }}{% endif %}
                  </span> до <span class="to-result">
                    {% if request.GET.months_max is None or request.GET.months_max == "" %}{{ months_max }}{% else %}{{ request.GET.months_max }}{% endif %}
                  </span> мес</small>
                </div>
              </div>
              <input type="text" class="period-range-slider" name="my_range" value="" />
            </div>
            <div class="filter-payment-slider mb-2">
              <div class="text-left mb-1">Платёж
                <div class="payment-result text-muted float-right">
                  <small>От <span class="from-result">
                    {% if request.GET.price_per_month_from is None or request.GET.price_per_month_from == "" %}{{ price_per_month_from }}{% else %}{{ request.GET.price_per_month_from }}{% endif %}
                  </span> до <span class="to-result">
                    {% if request.GET.price_per_month_to is None or request.GET.price_per_month_to == "" %}{{ price_per_month_to }}{% else %}{{ request.GET.price_per_month_to }}{% endif %}
                  </span> руб</small>
                </div>
              </div>
              <input type="text" class="payment-range-slider" name="my_range" value="" />
            </div>
            <div class="filter-price-slider mb-3">
              <div class="text-left mb-1">Стоимость
                <div class="price-result text-muted float-right">
                  <small>От <span class="from-result">
                    {% if request.GET.price_min is None or request.GET.price_min == "" %}{{ price_min }}{% else %}{{ request.GET.price_min }}{% endif %}
                  </span> до <span class="to-result">
                    {% if request.GET.price_max is None or request.GET.price_max == "" %}{{ price_max }}{% else %}{{ request.GET.price_max }}{% endif %}
                  </span> руб</small>
                </div>
              </div>
              <input type="text" class="price-range-slider" name="my_range" value="" />
            </div>
            <div class="filter-list-block">
              <ul class="list-filter">
                <li><div class="filter-item d-flex align-items-center justify-content-space-between">
                  <div class="filter-item__name">Сначала дешевле</div>
                  <div class="filter-item__checkbox">
                    <div class="filter-check">
                      <input type="checkbox" id="cheap" value="price" {% if request.GET.order_by == "price" %}checked{% endif %}>
                      <label for="cheap"></label>
                    </div>
                  </div></div>
                </li>
                <li><div class="filter-item d-flex align-items-center justify-content-space-between">
                  <div class="filter-item__name">Сначала дороже</div>
                  <div class="filter-item__checkbox">
                    <div class="filter-check">
                      <input type="checkbox" id="expensive" value="-price" {% if request.GET.order_by == "-price" %}checked{% endif %}>
                      <label for="expensive"></label>
                    </div>
                  </div></div>
                </li>
                <li><div class="filter-item d-flex align-items-center justify-content-space-between">
                  <div class="filter-item__name">Меньше платёж</div>
                  <div class="filter-item__checkbox">
                    <div class="filter-check">
                      <input type="checkbox" id="smallPayment" value="price_per_month" {% if request.GET.order_by == "price_per_month" %}checked{% endif %}>
                      <label for="smallPayment"></label>
                    </div>
                  </div></div>
                </li>
                <li><div class="filter-item d-flex align-items-center justify-content-space-between">
                  <div class="filter-item__name">Больше платёж</div>
                  <div class="filter-item__checkbox">
                    <div class="filter-check">
                      <input type="checkbox" id="bigPayment" value="-price_per_month" {% if request.GET.order_by == "-price_per_month" %}checked{% endif %}>
                      <label for="bigPayment"></label>
                    </div>
                  </div></div>
                </li>
              </ul></div>
          </div>
          <div class="card-footer bg-white">
            <a href="javascript:applyFilters();" class="btn btn-halva mb-2 px-5">Применить</a>
            <br>
            <a href="#" class="btn btn-filters-close bg-white">Отмена</a>
          </div>
        </div>
        <div class="order-type hidden">
          {% if request.GET.order_by == "-price_per_month" %}
            <a href="?{% query_transform request order_by="price_per_month" %}" class="mr-3">По ежемесячному платежу <i class="fas fa-chevron-up"></i></a>
          {% else %}
            <a href="?{% query_transform request order_by="-price_per_month" %}" class="mr-3">По ежемесячному платежу <i class="fas fa-chevron-down"></i></a>
          {% endif %}
          {% if request.GET.order_by == "-price" %}
            <a href="?{% query_transform request order_by="price" %}">По стоимости <i class="fas fa-chevron-up"></i></a>
          {% else %}
            <a href="?{% query_transform request order_by="-price" %}">По стоимости <i class="fas fa-chevron-down"></i></a>
          {% endif %}
        </div>
        <div class="sorting hidden">
          <select class="form-control form-control-sm" onchange="location = this.value;">
            <option {% if request.GET.order_by == "" %}selected{% endif %} value="?">По умолчанию</option>
            <option {% if request.GET.order_by == "price" %}selected{% endif %} value="?{% query_transform request order_by="price" %}">По возрастанию цены</option>
            <option {% if request.GET.order_by == "-price" %}selected{% endif %} value="?{% query_transform request order_by="-price" %}" class="mr-auto">По убыванию цены</option>
            <option {% if request.GET.order_by == "price_per_month" %}selected{% endif %} value="?{% query_transform request order_by="price_per_month" %}">По возрастанию платежа</option>
            <option {% if request.GET.order_by == "-price_per_month" %}selected{% endif %} value="?{% query_transform request order_by="-price_per_month" %}">По убыванию платежа</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    {% for o in offers %}
      <div class="col-sm-4 col-lg-3">
        <a href="{{ o.url }}" target="_blank" class="goods-item">
          <div class="img-box hidden" style="height: 30px">
            <img src="{% static 'img/'|add:o.shop.meta.label_img %}">
          </div>
          {% if o.picture %}
          <div class="img-box">
            <img src="{{ o.picture }}" onerror="this.style.display='none'">
          </div>
          {% endif %}

          <div class="description-box">
            <div class="goods-title">
              {% if o.name %}
                {{ o.name }}
              {% else %}
                {{ o.vendor }}
                {{ o.model }}
              {% endif %}
            </div>
              {% if o.price_per_month %}  {# есть рассрочка для этого товара #}
                <div class="goods-price"> от 
                  <span style="font-size:18px;"><b>{{ o.price_per_month }}</b><span class="ruble pl-1">₽</span>/мес.</span>
                </div>
              {% endif %}
            <div class="goods-detail-price"> {{ o.price }} <span class="ruble pl-1">₽</span>
              {% if o.months %} на {{ o.months }} мес. {% endif %}
            </div>
          </div>

          <div class="img-box float-left mb-0 mt-2" style="height: 25px">
            <img src="{% static 'img/'|add:o.shop.meta.label_img %}">
          </div>

        </a>
        {% comment %}
          <a href="{{ o.url }}">{{ o.shop.meta.name }}</a>
          {{ o.price }} ₽, {{ o.shop.meta.short_description }}
          <a href="?category_id={{ sc.id }}">{{ sc.text }}</a>
        {% endcomment %}

      </div>
    {% empty %}
      <p>Товаров с такими параметрами нет. Попробуйте <span class="show-filters" style="text-decoration: underline">изменить условия поиска.</a></p>
    {% endfor %}
  </div>
</div>

<br><br>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script>
  $(document).ready(function () {
      let $slider = $('.slider');
      $slider.slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 4
      });
      let $itemActive = $('.item.active');
      let slickIndex = window.location.pathname === '/' ?
          0 : $itemActive.length === 3 ?
              $itemActive.eq(1).parent().data('slickIndex') : $itemActive.eq(0).parent().data('slickIndex');
      $slider.slick('slickGoTo', slickIndex, true);

      $(".period-range-slider").ionRangeSlider({
          skin: "big",
          type: "double",
          min: {{ months_min }},
          max: {{ months_max }},
          from: {% if request.GET.months_min is None or request.GET.months_min == "" %}{{ months_min }}{% else %}{{ request.GET.months_min }}{% endif %},
          to: {% if request.GET.months_max is None or request.GET.months_max == "" or request.GET.months_min == "" %}{{ months_max }}{% else %}{{ request.GET.months_max }}{% endif %},
          grid: false,
          hide_min_max: true,
          hide_from_to: true,
          onChange: function (data) {
              $('.filter-period-slider').find('.from-result').html(data.from);
              $('.filter-period-slider').find('.to-result').html(data.to);
        },
      });
      $(".payment-range-slider").ionRangeSlider({
          skin: "big",
          type: "double",
          min: {{ price_per_month_from }},
          max: {{ price_per_month_to }},
          from: {% if request.GET.price_per_month_from is None or request.GET.price_per_month_from == "" %}{{ price_per_month_from }}{% else %}{{ request.GET.price_per_month_from }}{% endif %},
          to: {% if request.GET.price_per_month_to is None or request.GET.price_per_month_to == "" %}{{ price_per_month_to }}{% else %}{{ request.GET.price_per_month_to }}{% endif %},
          grid: false,
          hide_min_max: true,
          hide_from_to: true,
          onChange: function (data) {
              $('.filter-payment-slider').find('.from-result').html(data.from);
              $('.filter-payment-slider').find('.to-result').html(data.to);
        },
      });
      $(".price-range-slider").ionRangeSlider({
          skin: "big",
          type: "double",
          min: {{ price_min }},
          max: {{ price_max }},
          from: {% if request.GET.price_min is None or request.GET.price_min == "" %}{{ price_min }}{% else %}{{ request.GET.price_min }}{% endif %},
          to: {% if request.GET.price_max is None or request.GET.price_max == "" %}{{ price_max }}{% else %}{{ request.GET.price_max }}{% endif %},
          grid: false,
          hide_min_max: true,
          hide_from_to: true,
          onChange: function (data) {
              $('.filter-price-slider').find('.from-result').html(data.from);
              $('.filter-price-slider').find('.to-result').html(data.to);
        },
      });

      let $query_input = $('.search-goods-input');

      $query_input.keyup(function (e) {
          let query = e.target.value;
          if (query !== '') {
              $('.search_box .cancel').removeClass('hidden');
          } else {
              $('.search_box .cancel').addClass('hidden');
          }
      });

      if ($query_input.val() !== '') {
          $('.search_box .cancel').removeClass('hidden');
      } else {
          $('.search_box .cancel').addClass('hidden');
      }

      $('.search_box .cancel').click(function () {
          $query_input.val('');
          $('.search_box .cancel').addClass('hidden');
      });

      $('.card-header-close').on('click', function () {
        $('.filters-card').addClass('hidden');
      });
      $('.btn-filters-close').on('click', function () {
        $('.filters-card').addClass('hidden');
      });
      $('.show-filters').on('click', function () {
        $('.filters-card').removeClass('hidden');
      });

      $('.filter-check input[type=checkbox]').on('change', function() {
        $('.filter-check input[type=checkbox]').not(this).prop('checked', false);
      });
  });
  function applyFilters() {
    let periodFrom = +$('.period-result .from-result').html(),
        periodTo = +$('.period-result .to-result').html(),
        paymentFrom = +$('.payment-result .from-result').html(),
        paymentTo = +$('.payment-result .to-result').html(),
        priceFrom = +$('.price-result .from-result').html(),
        priceTo = +$('.price-result .to-result').html();

    $('#id_price_min').val(priceFrom);
    $('#id_price_max').val(priceTo);
    $('#id_months_min').val(periodFrom);
    $('#id_months_max').val(periodTo);
    $('#id_price_per_month_from').val(paymentFrom);
    $('#id_price_per_month_to').val(paymentTo);

    let orderBy = false;
    $('.filter-check').each(function (idx, elem) {
      let $input = $(elem).find('input');
      if ($input.prop('checked')) {
          orderBy = $input.val();
          return false;
      }
    });
    let form = $('#searchForm');
    if (orderBy) {
      form.append('<input class="hidden" name="order_by" value="'+orderBy+'">');
    }
    form.submit();
  }
</script>

</body>
</html>

