<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hi</title>

</head>

<body>
  <h1>Привет, разработчик!</h1>
  <p>На ресурсы API можно заходить браузером, а можно
    curl-ом или бибилиотекой какой. Формат выдачи зависит
    от HTTP-заголовка Accept.
    Поддерживается text/html (для просмотра браузером)
    и application/json (для вызова из кода или командной строки).
  2</p>
  <h3>Методы API:</h3>
  <p>просмотр категорий:
    <a href="{% url 'apiv1:categories-list' %}">{% url 'apiv1:categories-list' %}</a>
  </p>
  <p>поиск товаров:
    <a href="{% url 'apiv1:offers-list' %}">{% url 'apiv1:offers-list' %}</a>
  </p>
  <h3>Демка:</h3>
  <p>что хотели получить:
    <a href="{% url 'demo:demo-index' %}">{% url 'demo:demo-index' %}</a>
  </p>
</body>
</html>