{% extends "admin/change_list.html" %}
{% block object-tools-items %}

    {{ block.super }}

    <li>
        <a href="reindex/" class="grp-state-focus">Пересчитать категории по товарам</a>
    </li>

{% endblock %}